canvas {
    display: block;
    background-color: transparent;
    /* Ensure the canvas background is transparent */
        position: absolute;
            top: 400px;
}
body {
    margin: 0;
    overflow: hidden;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    --webkit-tap-highlight-color: rgba(255, 255, 255,0);
}

@font-face {
    font-family: 'PixelFont';
    src: url('fonts/munro-small.ttf') format('truetype');
}

#background {
    position: absolute;
    top: calc(50px + 630px);
    /* Adjust this value based on the canvas height */
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
    /* Ensure the image is behind the canvas */
}